# Copyright (c) 2019 BayLibre SAS
# SPDX-License-Identifier: Apache-2.0

config BOARD_LOWRISC_NEXYS4DDR
	bool "lowRISC Chip target"
	depends on SOC_RISCV_SIFIVE_FREEDOM
	select QEMU_TARGET
	select 64BIT
