# SPDX-License-Identifier: Apache-2.0

CONFIG_RISCV=y
CONFIG_SOC_SERIES_RISCV_LOWRISC=y
CONFIG_SOC_RISCV_LOWRISC=y
CONFIG_BOARD_LOWRISC_NEXYS4DDR=y
CONFIG_64BIT=y
CONFIG_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_SERIAL=y
CONFIG_UART_LOWRISC=y
CONFIG_UART_LOWRISC_PORT_0=y
CONFIG_UART_CONSOLE=y

# In order not to choose the plic.c file
CONFIG_PLIC=n
# choose the plic_lowrisc.c file!
CONFIG_PLIC_LOWRISC=y

CONFIG_PINMUX=y
CONFIG_PINMUX_LOWRISC=y
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_GPIO=y
CONFIG_GPIO_LOWRISC=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=10000000
CONFIG_STACK_SENTINEL=y
CONFIG_TEST_EXTRA_STACKSIZE=256
